.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
}

.navbar-logo {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #2463A9;
}

.navbar-links {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #2463A9;
}

